@model PersonFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Model.Title</h1>

<h4>@Model.SubTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      <partial name="_Create" model="Model.Person" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
